@using SDLL.Configuration
@model DomainServerConfiguration

@{
    ViewBag.Title = "ServeurDomaine";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="jumbotron">
    <h2>Configuration du serveur de domaine</h2>
    <p class="lead">Renseignez les informations suivantes pour permettre au Studio des Langues de communiquer avec le serveur de domaine.</p>
</div>

<p class="text-success">@ViewBag.Information</p>

<section>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("ServeurDomaine", "Administration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" });
                    <div class="form-group">
                        @Html.LabelFor(m => m.IPAddress, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.IPAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.IPAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DomainName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.DomainName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DomainName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Sauvegarder" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</section>

